<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>harsh</author>
	<description>
			Blood Bank Management Module
	</description>

	<activator>@MODULE_PACKAGE@.BloodBankActivator</activator>
	
	<updateURL>https://</updateURL>
	<!-- /Base Module Properties 
	
	<require_modules>
                  <require_module>org.openmrs.module.hospitalcore</require_module>
    </require_modules>
	-->
	<require_version>1.9.7</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.bloodbank.extension.html.AdminList</class>
	</extension>

    <extension>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.bloodbank.extension.html.BloodBankHeader</class>
	</extension>	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>Receive Blood</name>
		<description>Allows user to receive blood</description>
	</privilege>
	<privilege>
		<name>Blood Stock Balance</name>
		<description>Allows user to see stock balance</description>
	</privilege>
	<privilege>
		<name>Expired Blood Stock Balance</name>
		<description>Allows user to see expired stock balance</description>
	</privilege>
	<privilege>
		<name>Issue Blood</name>
		<description>Allows user to issue blood</description>
	</privilege>
		<privilege>
		<name>Access Blood Bank</name>
		<description>Allows user to Access the module</description>
	</privilege>
	

	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		BloodStock.hbm.xml
		BloodStockReceipt.hbm.xml
		IssuedBloodStock.hbm.xml
	</mappingFiles>
	
</module>
