table.summary{
    width:350px;
    border-collapse:separate;
    empty-cells:hide;
}
td.summary{
    padding:5px;
    
}

tr.expired{
	background:#FFAEAE;
	
}
a.highlighted{
  color: #ddd;
  text-decoration: none;
}